
<div class="alert alert-dark border-black rounded-3" role="alert">
    <div class="row">
        <div class="col-11">
          <h4 class="alert-heading ">{{title}}</h4>
            <h6 class="alert-heading ">{{location}}</h6>
            {% if salary != 'Null' %}
            <h6 class="alert-heading text-secondary">${{salary}}</h6>
            {% endif %}
          <p>{{about}}</p>
          <hr>
            <a href="/job/{{id}}" class="btn btn-outline-primary">Apply</a>
        </div>
        <div class="col-1">
            <h6 class="alert-heading text-secondary">{{created_at}}</h6>
        </div>
    </div>
</div>